body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 40px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
